.logo {
  color: var(--main-color);
  font-family: var(--accent-font), serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  line-height: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}