.error {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: var(--accent-color);
  color: var(--main-color);
  border-radius: 40px;
  width: 40vw;
  height: fit-content;
  padding: 30px
}

.error-text {
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: large;
  line-height: normal;
}

.image_error {
  width: 10vw;
  height: 10vw;
}