.main_not-found {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  inset: 0;
  color: var(--main-color);
  background-color: black;
  min-block-size: 100dvb;
}