.content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row dense;
  gap: 15px;
  padding-inline: 20px;
  padding-block-start: 20px;
  block-size: 100dvb;
}

.card__title_info {
  border: none;
  padding-block: 4vw;
  color: var(--card-info-text-color);
  font-weight: 400;
  font-size: 42px;
  line-height: 56px;
  text-align: center;
  background-color: unset;
  font-variation-settings: unset;
}

.card__label {
  position: absolute;
  top: 16%;
  left: 40%;
  font-family: var(--main-font), serif;
  font-weight: 400;
  font-size: 32px;
  font-style: normal;
  line-height: 40px;
}

.card__image_info {
  aspect-ratio: unset;
}

.card__text_info {
  display: block;
  height: min-content;
  max-height: 100dvb;
  border: 7px solid var(--card-info-text-color);
  border-radius: 40px;
  padding-inline: 2vw;
  padding-block-start: 2vw;
  padding-block-end: 7vw;
  line-height: 32px;
}