.content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row dense;
  gap: 15px;
  padding-inline: 20px;
  padding-block-start: 20px;
  block-size: 100dvb;
}

.card__image_info {
  aspect-ratio: unset;
}

.card__text_info {
  display: block;
  height: min-content;
  max-height: 100dvb;
  border: 7px solid var(--card-info-text-color);
  border-radius: 40px;
  padding-inline: 2vw;
  padding-block-start: 2vw;
  padding-block-end: 7vw;
  line-height: 32px;
}