.content {
  border: 2px solid var(--accent-color, #000);
  background-color: var(--main-color, #fff);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-block-size: 100dvb;
}