.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5vw;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10vw;
}

.error {
  color: var(--heart-color);
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 25px;
  line-height: normal;
}