@font-face {
  font-display: swap;
  font-family: 'Press Start 2P';
  src: url('./PressStart2P-Regular.woff') format('woff2');
  font-weight: 400;
}

@font-face {
  font-display: swap;
  font-family: 'vt323regular';
  src: url('./vt323-regular-webfont.woff2') format('woff2');
  font-weight: 400;
}