.search {
  width: auto;
  height: 36px;
  border: none;
  border-radius: 40px;
  padding: 8px;
  color: black;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: normal;
  background-color: white;
  background-image: url(../../../../assets/svg/search.svg);
  background-repeat: no-repeat;
  background-size: 34px;
  background-position-y: center;
  background-position-x: right;
}