.button {
  inline-size: fit-content;
  block-size: 38px;
  min-width: 110px;
}

.button:disabled {
  cursor: unset;
}

.button__text {
  z-index: 1;
  color: var(--button-text-color, #fff);
  font-family: var(--accent-font, 'Press Start 2P'), fantasy;
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  text-align: center;
  mix-blend-mode: difference;
  margin-inline: 5px;
}

.animated {
  position: relative;
  transition: box-shadow 0.3s ease;
}

.decorated {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color, #000);
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}

.pressed {
  box-shadow: 2px 2px 0 0 var(--accent-color, #000);
}

.animated:focus {
  outline: none;
}

.animated::after {
  content: '';
  position: absolute;
  inset: 0;
  display: block;
  background-color: var(--accent-color, #000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: 0 0;
  min-block-size: 100%;
  min-inline-size: 100%;
}

button:not(:disabled).animated:hover::after {
  transform: scaleX(1);
}