.main_cards {
  justify-content: center;
  gap: 102px;
  padding-block: 100px;
  color: var(--accent-color, #000);
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-image:
    var(--background-image,
      repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to top, #d3d3d3 0 2px, transparent 2px 4px),
      linear-gradient(#e7e7e7 0.01%, #1a1a1a));
  background-size: cover;
  background-attachment: fixed;
}