.main_cards {
  justify-content: center;
  gap: 102px;
  padding-block: 100px;
  color: var(--accent-color, #000);
  font-family: var(--accent-font), sans-serif;
  font-size: 16px;
  line-height: 20px;
}