.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 21px;
  font-family: var(--accent-font, 'Press Start 2P'), fantasy;
  font-weight: 400;
  height: 25vw;
}

.intro_width {
  width: 55vw;
}

.intro button {
  margin-block-start: 15px;
  width: 40%;
  text-transform: uppercase;
}