.main_info {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  color: var(--card-info-text-color);
  font-family: var(--accent-font), serif;
  background-color: black;
  min-block-size: 100dvb;
}