.preloader {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: transparent;
}

.preloader_circle {
  display: block;
  width: 128px;
  height: 128px;
  border: 10px solid var(--accent-color);
  border-color: var(--main-color) var(--accent-color) var(--accent-color) var(--accent-color);

  border-radius: 50%;

  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}