.card {
  display: flex;
  flex-direction: column;
  inline-size: 50vw;
}

.image-wrapper {
  position: relative;
  border-top: none;
  border-right: 2px solid var(--accent-color, #000);
  border-bottom: none;
  border-left: 2px solid var(--accent-color, #000);
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: clamp(25px, 1.9vw, 27px);
  padding: 25px 25.5px;
  max-height: 15vw;
}

.card__content p:first-child {
  margin-block-end: 2px;
}

.card__controls {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}